<!DOCTYPE html>
<html lang="de">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>{% block title %}Wizard Cockpit{% endblock %}</title>
   {% block stylesheets %}
      {{ ux_controller_link_tags() }}
      <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
   {% endblock %}
</head>
<body>

{% block body %}
   <div {{ stimulus_controller('hello') }}></div>


{% endblock %}
{% block javascripts %}
   {{ importmap('app') }}
{% endblock %}
</body>
</html>
